header {
    background-size: cover;
    background-position: top right;
    position: relative;

    .flexContainer {
      height: 100%;
      overflow: hidden;
    }
  }

header.home {
  height: 100vh;
  min-height: 770px;
  background-image: url(../assets/header-image.jpg);
  
    h1 span {
      display: block;
      }

    figure {
      margin: 0;
      height: 47%;
      width: 47%;
      min-width: 430px;
      max-width: 700px;
      position: absolute;
      right: 0px;
      top: 30%;
      }
      
}

header.subHeader {
  height: 50vh;
  min-height: 485px;
}

header.contactHeader {
  background-image: url(../assets/contact-image.jpg);
}

header.blogHeader {
  background-image: url(../assets/blog-header.jpg);
}