@use "../utils/variables" as *;

// SECTION: What's under the sea?
.intro {
    background-color: $paleMauve;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.introText {
    margin: 100px auto;
    width: 90%;
    text-align: center;
}
// END OF SECTION

// SECTION: Read more
.readMore figure {
    position: absolute;
    margin: 0;
    width: 45%;
}

.readMore .flexContainer{
    height: 100%;
}

.additions {
    align-items: flex-end;
}

.readMoreText {
    width: 40%;
    margin: 100px 0; 
}
