@use "../utils/variables" as *;

main.blogMain {
    display: flex;
    justify-content: space-between;
    background-color: $paleMauve;

    figure {
        margin: 0;
    }
}

.blogMain aside {
    flex-basis: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;

    .sideWrapper {
        background-color: $white;
        margin-left: calc((1 / 0.3) * 0.075 * 100%);
        max-width: calc(1200px * 0.3 * 0.95);
        align-self: flex-end;

        figure {
            position: relative;
            left: -50px;
            top: -20px;
            // margin-left: calc((1 / 0.3) * 0.075 * -100%);
        }

        section {
            margin: 30px 0 20px 0;
            padding: 0 25px;
        }
    }
}

div.blogDiv {
    flex-basis: 67%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    .blogWrapper {
        margin-right: calc((1 / 0.67) * 0.075 * 100%);
        max-width: calc(1200px * 0.67 * 0.97);
        align-self: flex-start;
    }

}

section.blogPost {
    background-color: $white;

    figure {
        margin: 0 0 20px 20px;
        position: relative;
        top: -221px;
    }

    article {
        position: relative;
        top: -180px;
        padding-left: 50px;

        p {
            margin-top: 20px;
        }
    }
}

section.blogComments{
    padding: 30px 0;

    h2 {
        margin-bottom: 20px;
    }
    
    .commentsFlex {
        display: flex;
        justify-content: space-between;
        margin-left: 35px;
        margin-bottom: 40px;
        
        figure {
            flex-basis: 12%;
        }
    
        div {
            flex-basis: 83%;

            p {
                margin-top: 10px;
            }
        }
    }
}

.blogDiv form {
    height: 400px;
    margin-bottom: 60px;
}