@media (max-width: 830px) {
    // home page
    header.home {
        figure.annoyingImg {display: none;}
    }

    .contactsFlex {
        flex-direction: column;
    }

    // Contact Page
    main.mainContact {
        height: fit-content;
    }
    .mainFlex {
        flex-direction: column;

        form.contactForm {
            flex-basis: unset;
        }
        
        aside.contactInfo {
            width: 100%;
            align-self: center;
            text-align: center;
            // position: relative;
            // top: -100px;

            br {
                display: none;
            }

            p.address span {
                display: inline;
            }
        }
    }
}

@media (max-width: 768px) {
    // nav bar
    .navFlex {
        .menu {
            width: 0;
        }

        .fa-bars {
            display: inline-block;
            position: fixed;
            right: 35px;
            top: 30px;
            z-index: 5;
        }
    }

    // Blog page
    main.blogMain {
        flex-direction: column-reverse;

        .blogWrapper {
            width: 85%;
            margin: 0 auto;
        }

        section.blogPost {
            article {
                padding: 0;
            }
        }

        aside {
            .sideWrapper {
                width: 85%;
                max-width: none;
                margin: 0 auto;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                figure {
                    display: none;
                }
            }
        }
    }    
}

@media (max-width: 480px) {
    // Nav bar
    nav.navFlex {
        p.logo {
            margin-bottom: 10px;
        }

        ul {
            flex-wrap: wrap;

            a {
                margin: 0;
                padding: 5px;
            }
        }
    }

    // Home page
    .home h1 {
        font-size: 9rem;
    }

    div.readFlex {
        flex-direction: column;

        section {
            width: 85%;
            margin: 0 auto;

            div {
                width: 100%;
                margin: 0;
                text-align: center;
            }
        }

        section.heelsFlex {
            flex-direction: column;

            figure.heels {
                position: relative;
                top: -20px;
            }
        }

        figure.nike {
            position: static;
        }
    }

    div.contactsFlex {
        padding: 40px 0;
        text-align: center;
    }

    section.popular {
        figure.popularImg {
            display: none;
        }

        section.popularText {
            width: 100%;
            text-align: center;
        }
    }

    section.gallery {
        .flexContainer {
            flex-direction: column;
        }
    }

    // Contact Page 
    .mainContact form.contactForm {
        input {
            width: 100%;
        }
    }
}

@media (max-width: 372px) {
        section.findUs {
            flex-direction: column;

            .findUsIcon {
                align-self: center;
            }
    }
}

// @media (min-width: 768px) {
//     .hamburgerFlex {
//         display: none;
//     }
// }