@use "../utils/variables" as *;

@mixin button($color){
    background-color: $color;
    margin-top: 20px;
    padding: 10px 20px;   
    color: $white;
    text-transform: uppercase;
    font-family: $lato;
    font-size: 2rem;
    display: inline-block;

    &:hover,
    &:focus {
        background-color: $orange;
    }
}

.purpButt {
    @include button($plumPurple);
}

.brownButt {
    @include button($brownRed);
}

button {
    border: none;
    margin: 0;

    &:hover,
    &:focus {
        background-color: $orange;
    }
}