@use "../utils/variables" as *;

.navFlex {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    z-index: 2;

    ul {
        display: flex;
        align-items: center;

        a {
            margin: 15px;
            padding: 10px;

            &:hover, &:focus {
                background-color: $plumPurple;
                color: $white;
            }
        }
    }

    i.far-bars {
        display: none;
    }
}